.body {
    background-color: lightseagreen;
     
}

#headerPic{
   margin-left: 180px;
   width: 1000px;

}

.panel panel-default{ 
    margin:30px;
    padding: 5px;
    background-color: goldenrod
}
/* 
.col-md-12{
    
    margin:40px;
    padding: 5px;
    background-color: goldenrod 
}

.col-md-12{
    margin:40px;
    padding: 5px;
    background-color: goldenrod   
}

/* .row{ */
/* 
    background-color: goldenrod
} */  
